/* Everywhere  */

a {
    color: var(--main-color);
    transition: color .5s ease-in-out;
}

a:hover {
    color: var(--main-color-dark);
}

.nav.pull-right .dropdown-toggle::after {
    display: none;
}

.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
    border-color: #dc3545 !important;
}

.invalid-feedback {
    background: #dc3545;
    color: #fff
}

.active a {
    color: var(--main-color) !important;
}

.single-textarea {
    height: 200px;
}

.alert-floatable {
    position: fixed;
    top: 40px;
    right: 10px;
    z-index: 9999;
}

.header_area .navbar .nav .nav-item .nav-link {
    font-size: 14px;
}

.header_area .navbar .icons {
    font-size: 20px;
}

.form-group label.error,
label.error {
    width: 98%;
    margin: auto;
    padding: 7px 15px;
    display: block;
    background-color: #f75676;
    color: #fff;
    border-color: #f75676;
    border-radius: 0 0 4px 4px;
}

.main_btn.btn-sm {
    padding: 0px 20px;
    line-height: 32px;
}

.badge.badge-lg {
    font-size: 100%;
}

.text-primary {
    color: var(--main-color) !important;
    font-weight: bold;
}

p.lead {
    line-height: 2.2rem;
}

.badge-primary {
    background: var(--main-color) !important;
}

.card {
    box-shadow: 0 13px 6px -4px #ccc;
}

.card .card-icon {
    width: 20%;
}

.card .card-content {
    width: 80%;
}

.card .card-icon i {
    font-size: 2rem;
}

.card .card-text .text-warning {
    font-weight: bold;
}

.single-textarea {
    line-height: 25px;
}


/* Login/Register */

.login_box_img .main_btn:hover {
    color: #fff;
    border-color: #fff;
}

.login_form .form-group input:focus {
    border-bottom-color: var(--main-color);
}

.login_form .form-group input.is-invalid:focus {
    border-bottom-color: #dc3545;
    box-shadow: none;
}

.login_form .input-group-icon .icon {
    top: 7px;
    font-weight: bold;
}

#searchModal .input-group-icon .icon {
    top: 3px;
    left: 29px;
    font-size: 1.5rem;
}

.login_form .input-group-icon input,
#searchModal .input-group-icon input {
    padding-left: 50px;
}


/* Home page */

.white_bg_btn.inverse {
    background: var(--main-color);
    color: #eeeeee;
    border: 1px solid var(--main-color);
}

.white_bg_btn.inverse:hover {
    background: #f9f9ff;
    color: #222222;
    border-color: #f9f9ff;
}

footer .single-footer-widget input,
.subscription input {
    border: 1px solid var(--main-color);
}


/* Appointments */

.input-group-icon input {
    transition: border 0.2s ease-in-out;
}

form:not(.login_form) .form-group .single-textarea:focus,
form:not(.login_form) .input-group-icon input:focus {
    border: 1px solid var(--main-color) !important;
}

.input-group-icon input,
.form-select .nice-select,
.form-group .single-textarea {
    background: #f9f9ff !important;
    border: 1px solid #eee;
    padding-left: 45px !important;
}

.form-select .nice-select.open {
    border: 1px solid var(--main-color);
    border-bottom: none;
}

.form-select .nice-select.open .list {
    border: 1px solid var(--main-color);
    border-top: none;
}

.form-select .nice-select .list .option {
    font-size: 16px;
}

.form-select .nice-select .list .option:hover,
.form-select .nice-select .list .option.selected {
    color: var(--main-color);
}

form:not(.login_form) .input-group-icon .icon {
    left: 35px;
}